@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.InitiativeWoodTray {
    border: 3px solid black;
    height: 380px;
    width: 450px;
    background-image: url(../images/diceTrayWood.png);
    background-size: 101% 101%;
    background-repeat: no-repeat;
    border-radius: 6px;
    float: left;
    margin-bottom: 12px;
}

.InitiativeVelvetTray {
    border: 3px solid black;
    height: 200px;
    margin-left: 6px;
    margin-bottom: 6px;
    background-image: url(../images/diceTrayRed.png);
    background-size: 100% 100%;
    float: left;
    width: 400px;
}

.AddInitiativeTextArea {
    height: 50px;
    width: 70%;
    float: left;
    margin-left: 6px;
}

.InitiativeObject {
    background-image: url(../images/SlateStone.png);
    background-size: 100% 100%;
    width: 95%;
    height: 30px;
    margin-left: 6px;
    margin-top: 3px
}

.AddInitiative {
    float: left;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Icons/Add.png);
}

.AddInitiativePlayer {
    float: left;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 6px;
    background-image: url(../images/character.png);
}
    .AddInitiativePlayer:hover {
        background-image: url(../images/characterHover.png);
    }

.AddInitiativeMonster {
    float: left;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 6px;
    background-image: url(../images/monster.png);
}

    .AddInitiativeMonster:hover {
        background-image: url(../images/monsterHover.png);
    }

.AddInitiativeAlly {
    float: left;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 6px;
    background-image: url(../images/ally.png);
}

    .AddInitiativeAlly:hover {
        background-image: url(../images/allyHover.png);
    }

.SortInitiative {
    width: 50px;
    height: 30px;
    background-size: 100% 100%;
    margin-top: 6px;
    text-align: center;
    border: 2px solid black;
    background-image: url(../images/SlateStone.png);
}

.NextInitiative {
    width: 50px;
    height: 30px;
    background-size: 100% 100%;
    margin-top: 6px;
    text-align: center;
    border: 2px solid black;
    background-image: url(../images/SlateStone.png);
}

.ClearInitiative {
    width: 50px;
    height: 30px;
    background-size: 100% 100%;
    margin-top: 6px;
    text-align: center;
    border: 2px solid black;
    background-image: url(../images/SlateStone.png);
}

.PlayerInitiative {
    float: left;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 5px;
    background-image: url(../images/character.png);
}

.MonsterInitiative {
    float: left;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 5px;
    background-image: url(../images/monster.png);
}

.AllyInitiative {
    float: left;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 5px;
    background-image: url(../images/ally.png);
}


.RemoveInitiative {
    float: right;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/cancel.png);
}

    .RemoveInitiative:hover {
        background-image: url(../images/Dice/cancelHover.png);
    }

.scrollbar {
    width: 100%;
    height: 100%;
    overflow: auto;
}

    .scrollbar::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
    }

    .scrollbar::-webkit-scrollbar-track {
        background: transparent; /* color of the tracking area */
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: transparent; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
    }

    .scrollbar:hover::-webkit-scrollbar-thumb {
        background-color: #404040; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 1px solid black;
        opacity: 0.3;
    }

.woodTray {
    border: 3px solid black;
    height: 500px;
    width: 500px;
    background-size: 101% 101%;
    background-repeat: no-repeat;
    border-radius: 6px;
    float: left;
}

.velvetTray {
    border: 3px solid black;
    height: 400px;
    margin-left: 6px;
    margin-top: 6px;
    background-size: 100% 100%;
    float: left;
    width: 400px;
}

.DiceText {
    color: white;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-size: x-large;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.d100Die {
    background-image: url(../images/Dice/d20Die.png);
    background-size: 100% 100%;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
}

.d20Die {
    background-image: url(../images/Dice/d20Die.png);
    background-size: 100% 100%;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
}

.d12Die {
    background-image: url(../images/Dice/d12Die.png);
    background-size: 100% 100%;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
}

.d10Die {
    background-image: url(../images/Dice/d10Die.png);
    background-size: 100% 100%;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
}

.d8Die {
    background-image: url(../images/Dice/d8Die.png);
    background-size: 100% 100%;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
}

.d6Die {
    background-image: url(../images/Dice/d6Die.png);
    background-size: 100% 100%;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
}

.d4Die {
    background-image: url(../images/Dice/d4Die.png);
    background-size: 100% 100%;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
}

.dieResultContainer {
    float: left;
    width: auto;
    height: 100%;
    margin-left: 12px;
}

.dieResult {
    width: 50px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
}

.dieButtonContainer {
    float: left;
    width: 60px;
    height: 100%;
    margin-left: 12px;
}

.d20Button {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/d20.png);
    margin-top: 3px;
}

    .d20Button:hover {
        background-image: url(../images/Dice/d20Hover.png);
    }

.d12Button {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/d12.png);
    margin-top: 3px;
}

    .d12Button:hover {
        background-image: url(../images/Dice/d12Hover.png);
    }

.d10Button {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/d10.png);
    margin-top: 3px;
}

    .d10Button:hover {
        background-image: url(../images/Dice/d10Hover.png);
    }

.d8Button {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/d8.png);
    margin-top: 3px;
}

    .d8Button:hover {
        background-image: url(../images/Dice/d8Hover.png);
    }

.d6Button {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/d6.png);
    margin-top: 3px;
}

    .d6Button:hover {
        background-image: url(../images/Dice/d6Hover.png);
    }

.d4Button {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/d4.png);
    margin-top: 3px;
}

    .d4Button:hover {
        background-image: url(../images/Dice/d4Hover.png);
    }

.rollButton {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/roll.png);
    margin-top: 18px;
}

    .rollButton:hover {
        background-image: url(../images/Dice/rollHover.png);
    }

.CancelButton {
    float: left;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    text-align: center;
    background-image: url(../images/Dice/cancel.png);
    margin-top: 45px;
}

    .CancelButton:hover {
        background-image: url(../images/Dice/cancelHover.png);
    }

.CountCircleDie {
    float: right;
    width: 50%;
    height: 50%;
    background-size: 100% 100%;
    background-image: url(../images/Dice/RoundBadge.png);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
